html, body {
  height: 100%;
  width: 100%;
}

.header .pure-menu {
    border-bottom-color: black;
    border-radius: 0;
}
.header .pure-menu-list {
    float: right;
    padding: .5em 1em;
}
.header .pure-menu-horizontal .pure-menu-children {
    left: unset;
    right: -100%;
    padding: .5em 1em;
}
.header .pure-menu-horizontal {
    white-space: unset;
}

.pure-menu-link {
    padding: 1em 1em;
}

.header-bar {
  text-align: center;
}

.vcenter {
  display: flex;
  align-items: center;
}

.hcenter {
  display: flex;
  justify-content: center;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  text-align: center;
  width: 100%;
  background-color: moccasin;
  height: 3em;
}
